<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mcq/css/quiz.css' %}">
    <script src="{% static 'mcq/js/quiz.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>MCQ Quiz</title>
</head>
<body>
    <div class="container mt-5 pt-5">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label>Select Category</label>
                    <select name="category" class="form-control">
                        <option value="Choose">Choose</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-danger mt-3">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>