/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
min-width: 375px;
max-width: 500px;
width: 100%;
}

form p {
font-size: 1.2rem;
font-weight: bold;
color: #333;
}

div {
margin-bottom: 10px;
text-align: left;
}

input[type="radio"] {
margin-right: 10px;
}

label {
font-size: 1rem;
color: #555;
}

.navigation-buttons {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #45a049;
}

button:disabled {
background-color: #ccc;
cursor: not-allowed;
}

button[type="submit"] {
background-color: #17c941;;
}

button[type="submit"]:hover {
background-color: #28a745;;
}

.results {
margin-top: 20px;
text-align: center;
align-items: center;
justify-content: center;
font-size: 1rem;
}

.results span {
  color: green;
  font-weight: bold;
}

.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

.modal {
background: white;
padding: 20px;
border-radius: 8px;
width: 400px;
text-align: center;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
display: flex;
justify-content: space-around;
}

.modal-buttons button {
margin: 10px;
} 

.camera-feed {
position: fixed;
top: 0;
right: 0;
width: 320px;
height: 240px;
border: 4px solid #ccc;
z-index: 1000;
}
.camera-feed-hidden {
display: none;
width: 320px;
height: 240px;
}

video {
width: 100%;
height: 100%;
}


.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

.modal {
background: #fff;
padding: 20px;
border-radius: 5px;
text-align: center;
max-width: 500px;
width: 100%;
}

.warning-text {
margin-bottom: 20px;
}

.modal-buttons {
display: flex;
justify-content: center;
gap: 10px;
}

.full-screen-button {
position: fixed;
bottom: 20px;
right: 20px;
background-color: #28a745;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.camera-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
color: white;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
font-size: 1.25rem;
text-align: center;
}